<html>
  <head>
    <title>IBstudy</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='w3-style.css') }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <br><br><br><br><br>
      <!--SETUP FORM-->
      <div class="w3-container" style="padding-bottom:32px;">
          <div class="w3-content" style="max-width:700px">
            <h1>SETUP</h1>
            <form action="{{url_for('setup')}}" method="post">
                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="s1" placeholder=" Group 1"></p><br>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="s2" placeholder=" Group 2"></p><br>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="s3" placeholder=" Group 3"></p><br>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="s4" placeholder=" Group 4"></p><br>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="s5" placeholder=" Group 5"></p><br>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="s6" placeholder=" Group 6"></p><br>
                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="time" placeholder="amount of time"></p>
                <p><button class="w3-button w3-black" type="submit">Finish Setup</button></p>
            </form>
          </div>
      </div>
      <!------------->
  </body>
</html>